@font-face {
  font-family: "Poppins-Regular";
  src: url(../assets/fonts/Poppins-Regular.ttf);
  font-display: block;
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(../assets/fonts/Poppins-Bold.ttf);
  font-display: block;
}
@font-face {
  font-family: "Poppins-Medium";
  src: url(../assets/fonts/Poppins-Medium.ttf);
  font-display: block;
}

@font-face {
  font-family: "Get-Schwifty";
  src: url(../assets/fonts/Get-Schwifty.ttf);
  font-display: block;
}
