.text-center {
  text-align: center;
}

.text-poppins-regular-primary {
  font-family: $poppinsRegular;
  color: $primary;
}
.text-poppins-regular-primary2 {
  font-family: $poppinsRegular;
  color: $primary2;
}

.text-poppins-regular-neutral1 {
  font-family: $poppinsRegular;
  color: $neutral1;
}
.text-poppins-regular-neutral2 {
  font-family: $poppinsRegular;
  color: $neutral2;
}
.text-poppins-regular-neutral3 {
  font-family: $poppinsRegular;
  color: $neutral3;
}

.text-regular-medium-neutral1 {
  font-family: $poppinsMedium;
  color: $neutral1;
}

.text-poppins-bold-primary {
  font-family: $poppinsBold;
  color: $primary;
}

.text-get-schwifty {
  font-family: $getSchwifty;
}

.text-get-schwifty-primary {
  font-family: $getSchwifty;
  color: $primary;
}

.text-smaller {
  font-size: 12px;
}

.text-small {
  font-size: 14px;
}

.text-normal {
  font-size: 16px;
}

.h3 {
  font-size: 20px;
}

.h2 {
  font-size: 24px;
}

.h1 {
  font-size: 48px;
}

.text-decoration-none {
  text-decoration: none;
}
